.logoFont {
  font-family: "Biryani", sans-serif;
  font-weight: 750;
  font-style: normal;
  letter-spacing: 0.06em;
}

.navLinkFont {
  font-family: "Biryani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titleStyle {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
}

.textStyle {
  font-family: "Basic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-align: justify;
  letter-spacing: 0.06em;
}

.logoStyle {
  text-align: center; 
}

.logoStyle img {
  display: block; 
  margin: 0 auto; 
  max-width: 50%; 
  height: auto; 
}

.imageStyle {
  max-width: 100%; 
  height: auto; 
}